<div class="container">
    <div class="navbar mb-3 mt-3 ">
        <button routerLink="/new" class="btn btn-warning mb-3 mt-3">Nuevo Post-></button>
        <select (change)="onSelectChange($event)" formControlName="category" id="category" class="">
            <option value="All">Ingresa la categoría</option>
            <option value="Programming">Programming</option>
            <option value="Technology">Technology</option>
            <option value="Design">Design</option>
        </select>
    </div>
    
    <div class="row">
        <div *ngFor="let post of arrPost" class="col-12 col-md-2 col-lg-2 mb-4 mr-4">
            <div class="post-card h-100">
                <img [src]="'assets/images/' + post.image" [alt]="post.title" class="post-image img-fluid" />
                <div class="post-content">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-author">By {{ post.author }} - {{ post.date }}</p>
                    <p class="post-text">{{ post.text }}</p>
                    <span class="post-category">{{ post.category.title }}</span>
                </div> 
                <button class="btn btn-error" (click)="goToPost(post.id)">Ver detalles</button>               
            </div>
        </div>       
    </div>
</div>
  
